- name: Archive + backup
  hosts: all
  become: true
  collections:
    - community.general
  tasks:
    - name: Archive home directory
      community.general.archive:
        path: /home/ansible
        dest: /home/ansible/backup.tar.gz
      when: inventory_hostname == "target1"
      tags: [archive]

    - name: Fetch backup
      ansible.builtin.fetch:
        src: /home/ansible/backup.tar.gz
        dest: /Users/username/Documents/Dev/DevOps/
        flat: true
      when: inventory_hostname == "target1"
      tags: [fetch]

    - name: Copy backup from local to remote
      ansible.builtin.copy:
        src: /Users/username/Documents/Dev/DevOps/backup.tar.gz
        dest: /home/ansible/backup.tar.gz
        mode: "0644"
      when: inventory_hostname == "target2"
      tags: [copy]

    - name: Cleanup local backup file
      ansible.builtin.file:
        path: /Users/username/Documents/Dev/DevOps/backup.tar.gz
        state: absent
      delegate_to: localhost
      run_once: true
      tags: [cleanup]
