---
- name: Exercise 1 Install multiple packages
  hosts: all
  vars:
    packages:
      - nginx
      - git
      - curl
  tasks:
    - name: Install packages
      ansible.builtin.apt:
        name: '{{ item }}'
        state: present
      loop: '{{ packages }}'
