- name: Ensure Apache is installed and running on all nodes
  hosts: all
  become: true
  gather_facts: true
  vars:
    apache_pkg_map:
      Debian: apache2
      RedHat: httpd
  tasks:
    - name: Install Apache
      ansible.builtin.package:
        name: "{{ apache_pkg_map.get(ansible_facts['os_family'], 'apache2') }}"
        state: present
        update_cache: true

    - name: Ensure Apache service is running
      ansible.builtin.service:
        name: "{{ apache_pkg_map.get(ansible_facts['os_family'], 'apache2') }}"
        state: started
        enabled: true
