- name: Playbook HelloWorld
  hosts: all
  gather_facts: true
  tasks:
    - name: Print Hello World
      ansible.builtin.debug:
        msg: "Hello, World!"

    - name: Write hello to a file in the user's home directory
      ansible.builtin.copy:
        dest: "{{ ansible_env.HOME }}/test.txt"
        content: "Hello {{ ansible_user | default('user') }}\n"
        mode: "0644"

    - name: Show current user
      ansible.builtin.debug:
        var: ansible_user
