- name: Archive + backup
  hosts: all
  tasks: 
    - name: archive
      community.general.archive:
        path: /home/ansible
        dest: /home/ansible/backup.tar.gz
      when: inventory_hostname == "target1"
      tags: [archive]
    - name: fetch (backup)
      ansible.builtin.fetch:
        src: /home/ansible/backup.tar.gz
        dest: /Users/saketb/Documents/Dev/DevOps/
        flat: yes
      when: inventory_hostname == "target1"
      tags: [fetch]
    - name: copy from local to remote
      ansible.builtin.copy:
        src: /Users/saketb/Documents/Dev/DevOps/backup.tar.gz
        dest: /home/ansible/
      when: inventory_hostname == "target2"
      tags: [copy]
    - name: cleanup
      ansible.builtin.file:
        path: /Users/saketb/Documents/Dev/DevOps/backup.tar.gz
        state: absent
      delegate_to: localhost
      run_once: true
      tags: [cleanup]
