---
- name: Exercise 1 Install multiple packages
  hosts: all
  become: true
  vars:
    packages:
      - nginx
      - git
      - curl
  tasks:
    - name: Install packages
      ansible.builtin.package:
        name: "{{ packages }}"
        state: present
        update_cache: true
